In [46]:
import pandas as pd
import os

In [47]:
#load csv data to get the ID and class/target
# !!!win and mac pathing is different (you have to add YOUR correct path)!!!
#this is for windows
metaData = pd.read_csv("../data/OASIS/oasis_cross-sectional.csv")
# #this is for mac
metaData = metaData[["ID","CDR"]]

# # imputing missing 0
metaData.CDR[metaData.CDR.isna() == True] = 0

In [48]:
import glob
#get file names
path = "../data/OASIS/3D/"
#path = "/Users/stephanbremser/neuefische/alzheimer-classification/data/horizontal_masked"#"~/neuefische/alzheimer-classification/data/horizontal_masked"
path_list = glob.glob(path + '*.img')
#create file list matching the path_list
t = pd.DataFrame(path_list)
#merge metadata dataframe with file list on ID
f = lambda x: x[-13:-4] + '_MR1' #merge on first 13 letters (eg "OAS1_0001_MR1")
t["ID"]=t[0].apply(f)

metaData = pd.merge(metaData, t,on="ID", how="left")
metaData = metaData.rename(columns={0:"file"}).reset_index()

In [49]:
metaData

     index             ID  CDR                            file
0        0  OAS1_0001_MR1  0.0  ../data/OASIS/3D/OAS1_0001.img
1        1  OAS1_0002_MR1  0.0  ../data/OASIS/3D/OAS1_0002.img
2        2  OAS1_0003_MR1  0.5  ../data/OASIS/3D/OAS1_0003.img
3        3  OAS1_0004_MR1  0.0  ../data/OASIS/3D/OAS1_0004.img
4        4  OAS1_0005_MR1  0.0  ../data/OASIS/3D/OAS1_0005.img
..     ...            ...  ...                             ...
431    431  OAS1_0285_MR2  0.0                             NaN
432    432  OAS1_0353_MR2  0.0                             NaN
433    433  OAS1_0368_MR2  0.0                             NaN
434    434  OAS1_0379_MR2  0.0                             NaN
435    435  OAS1_0395_MR2  0.0                             NaN

[436 rows x 4 columns]

In [50]:
from sklearn.model_selection import train_test_split

X = metaData["file"]
y = metaData["CDR"]
X_train, X_test, y_train, y_test = train_test_split(X,y, stratify=y, random_state=10)

In [51]:
meta_train = pd.DataFrame(index=range(len(X_train)))
meta_test = pd.DataFrame(index=range(len(X_test)))

In [52]:
meta_train['CDR'] = y_train
meta_train['file'] = X_train
meta_train = meta_train.dropna()

meta_test['CDR'] = y_test
meta_test['file'] = X_test
meta_test = meta_test.dropna()

In [53]:
meta_train

     CDR                            file
0    0.0  ../data/OASIS/3D/OAS1_0001.img
1    0.0  ../data/OASIS/3D/OAS1_0002.img
2    0.5  ../data/OASIS/3D/OAS1_0003.img
3    0.0  ../data/OASIS/3D/OAS1_0004.img
6    0.0  ../data/OASIS/3D/OAS1_0007.img
..   ...                             ...
318  0.5  ../data/OASIS/3D/OAS1_0352.img
320  0.0  ../data/OASIS/3D/OAS1_0354.img
321  0.0  ../data/OASIS/3D/OAS1_0355.img
323  0.0  ../data/OASIS/3D/OAS1_0357.img
325  0.0  ../data/OASIS/3D/OAS1_0359.img

[226 rows x 2 columns]

In [54]:
meta_test.to_csv('../data/OASIS/meta_test.csv')
meta_train.to_csv('../data/OASIS/meta_train.csv')